# Servidor
PORT=3000
NODE_ENV=development

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=candles_app

# CORS — URL del frontend Angular
CORS_ORIGIN=http://localhost:4200

# JWT
JWT_SECRET=cambia_esto_por_una_clave_muy_larga_y_secreta
JWT_EXPIRES=8h

# (Futuro) Anthropic Claude
# ANTHROPIC_API_KEY=sk-ant-...
